<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
        <filter class="filter.CustomThresholdFilter">
            <level>INFO</level>
            <clazz>myconext.exceptions.ExpiredAuthenticationException</clazz>
            <clazz>myconext.exceptions.MigrationDuplicateUserEmailException</clazz>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="myconext" level="DEBUG"/>

</configuration>