<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
            <customFields>{"app":"eduID"}</customFields>
            <fieldNames>
                <thread>[ignore]</thread>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <logger name="org.springframework" additivity="false" level="WARN"/>
    <logger name="org.eclipse.jetty" level="ERROR"/>
    <logger name="myconext" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>