<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tiqr-Mock</title>
    <meta name="robots" content="noindex, nofollow">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="translucent-black" name="apple-mobile-web-app-status-bar-style">
    <link href="/favicon.ico" rel="shortcut icon">
    <link th:href="@{/styles.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/main.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="top-header">
        <h1 th:text="#{login(${environment})}"></h1>
    </div>

    <div class="header">
        <h1 th:text="#{permission}"></h1>
    </div>
    <div class="content-container">
        <div class="content">
            <p th:text="${'The enrollment for ' + enrollment.userDisplayName + 'with status ' + enrollment.status}"
               class="info"/>
            <table>
                <thead>
                <tr>
                    <th class="attribute">Attribute</th>
                    <th class="value">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>OCRA suite</td>
                    <td th:text="${metadata.service.ocraSuite}"></td>
                </tr>
                <tr>
                    <td>Display name</td>
                    <td th:text="${metadata.service.displayName}"></td>
                </tr>
                <tr>
                    <td>Identifier</td>
                    <td th:text="${metadata.service.identifier}"></td>
                </tr>
                <tr>
                    <td>User ID</td>
                    <td th:text="${metadata.identity.identifier}"></td>
                </tr>
                </tbody>
            </table>
            <div class="actions">
                <a class="button" th:href="@{/enrolled/{id}(id=${enrollment.key})}">Finish enrollment</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>