@use "../styles/vars" as *;


@mixin input-field {
    label {
        display: inline-block;
        min-width: 210px;
        color: black;
        position: relative;
        margin: 12px 0 var(--sds--space--1);
    }
}

@mixin page {
    max-width: $medium;
    width: 100%;
    margin: 0 auto;

    @media (max-width: $medium) {
        padding: 0 15px;
    }

}

@mixin form {
    grid-column-gap: 50px;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr;

    .input-field, .select-field, .date-field, .error-indication, .sds--checkbox-container {
        grid-column-start: first;
    }

    .input-field, .select-field, .date-field, .sds--checkbox-container {
        margin-top: 20px;

        &.inner-switch {
            margin-top: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid var(--sds--color--gray--200);
        }
    }

    .user-role .sds--checkbox-container {
        margin-top: 0;
        @media (max-width: $medium) {
            margin-bottom: 20px;
        }
    }

    .actions {
        grid-column-start: first;
        margin-top: 30px;
        padding: 25px 0;
        border-top: 2px solid var(--sds--color--gray--200);
        display: flex;
        justify-content: flex-end;
        position: relative;

        button:not(:first-child) {
            margin-left: 25px;
        }

        button.sds--btn--delete, button.sds--btn--delete--secondary {
            margin-right: auto;
            margin-left: 0;
        }

        span.error {
            position: absolute;
            top: 72px
        }

    }
    @media (max-width: $medium) {
        grid-template-columns: [first] 1fr;
    }
}
