@use "../index";

.about-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    button {
        margin-top: 25px;
    }

    .top {
        display: flex;
        align-items: center;
    }

    img {
        &.about {
            width: auto;
            height: 180px;
            @media (max-width: index.$tablet-width) {
                width: 140px;
            }
        }

    }

    ul {
        list-style: initial;

        &.verify-options {
            margin-top: 10px;
        }

        li {
            margin: 0 0 12px 16px;

            span {
                &.header {
                    font-weight: 600;
                }
            }
        }
    }

    .about {
        @include index.page;
    }

    .store-container {
        display: flex;
        margin-top: 25px;

        @media (max-width: index.$tablet-width) {
            svg {
                display: none;
            }
        }

        .store-container-content {
            display: flex;
            gap: 40px;
            margin: 0 auto;
        }

        .inner-store-container {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @media (max-width: index.$tablet-width) {
                margin-top: 25px;
            }

        }
    }

}