@use "../index";

.about-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    img {
        &.about {
            width: 182px;
            height: auto;
            @media (max-width: index.$tablet-width) {
                width: 140px;
            }
        }

    }

    ul {
        list-style: initial;

        li {
            margin: 0 0 12px 16px;

            span {
                &.header {
                    font-weight: 600;
                }
            }
        }
    }

    .about {
        @include index.page;
    }

}