@use "../index";

.about-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    img {
        &.about {
            width: 182px;
            height: auto;
            @media (max-width: index.$mobile-width) {
                width: 140px;
            }
        }

    }

    .about {
        @include index.page;
    }

}