@use "../index";

.home-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    img {
        &.phone {
            width: 182px;
            height: auto;
            @media (max-width: index.$mobile-width) {
                width: 140px;
            }
        }

        &.cheering {
            width: 150px;
            height: auto;
            @media (max-width: index.$mobile-width) {
                width: 90px;
            }
        }

        &.app {
            width: 150px;
            height: auto;
            @media (max-width: index.$mobile-width) {
                width: 90px;
            }
        }

        &.qrCode {
            width: 140px;
            height: auto;
            @media (max-width: index.$mobile-width) {
                display: none;
            }

        }

        &.appStore {
            width: 177px;
            height: auto;
        }

        &.googlePlay {
            width: 177px;
            height: auto;
        }
    }

    .home {
        @include index.page;
    }


    .top-right {

        button.sds--btn {
            margin-top: 20px;
            min-width: 180px;
            width: 180px;

            @media (max-width: index.$mobile-width) {
                width: 100%;
            }
        }

    }

    ul {
        list-style: inherit;
        margin-top: 20px;

        li {
            margin-left: 16px;
        }
    }

    .card {

        @media (max-width: index.$mobile-width) {
            flex-direction: column;
            align-items: center;
        }

        p {
            margin-top: 20px;
        }
    }

    .store-container {
        display: flex;
        gap: 40px;
        margin-top: auto;

        @media (max-width: index.$mobile-width) {
            svg {
                display: none;
            }
        }

        .inner-store-container {
            display: flex;
            flex-direction: column;
            gap: 25px;

            @media (max-width: index.$mobile-width) {
                margin-top: 25px;
            }

        }
    }

}