@use "../index";

.privacy-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    .privacy {
        @include index.page;
        gap: 0;
        width: 740px;
        @media (max-width: index.$mobile-width) {
            width: auto;
        }
    }

    ol {
        list-style: decimal;
        margin-top: 8px;

        li {
            margin-left: 22px;
        }

        ul {
            margin-top: 1px;
        }
    }

    ul {
        list-style: initial;
        margin-top: 8px;
        word-break: break-word;

        &.inner {
            margin-top: 0;
        }

        li {
            margin-left: 16px;
        }
    }
}