@use "../index";

.privacy-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    h5 {
        font-weight: 600;
        font-size: 24px;
    }

    .privacy {
        @include index.page;
        gap: 0;
        width: 740px;
        @media (max-width: index.$mobile-width) {
            width: auto;
        }
    }

    .card {
        background: white;
        border: 1px solid #EAECF0;
        border-radius: 10px;
        flex-direction: column;
        padding: 35px;
        margin: -130px auto 0 auto;
        display: flex;
        gap: 10px;
        max-width: 740px;

        &.bottom {
            margin-top: 35px;
        }
    }

    ol {
        list-style: decimal;
        margin-top: 8px;

        li {
            margin-left: 22px;
        }

        ul {
            margin-top: 1px;

        }
    }

    ul {
        list-style: initial;
        margin-top: 8px;
        word-break: break-word;

        li {
            margin-left: 16px;
        }
    }

}