@use "../index";

.servicedesk-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    .top {
        display: flex;
        align-items: center;
    }

    img {
        width: auto;
        height: 180px;
    }

    .servicedesk {
        @include index.page;
    }

}