@use "../index";

.support-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    img {
        &.parachute {
            width: 182px;
            height: auto;
        }

        &.support {
            width: 200px;
            height: auto;
            @media (max-width: index.$tablet-width) {
                display: none;
            }
        }

        &.mobileScreenshot {
            width: 240px;
            height: auto;
            margin: 15px 0;
            @media (min-width: calc(820px + 1px)) {
                display: none;
            }
        }

    }

    h2.green {
        color: var(--sds--color--green--400);
        font-weight: 600;
        margin: 10px 0 15px 0;
    }

    p.info {
        margin-top: 20px;

        &.cursive {
            font-style: italic;
        }
    }

    .support {
        @include index.page;
    }


    ul {
        list-style: inherit;
        margin-top: 20px;

        li {
            margin-left: 16px;
        }
    }

}