@use "../index";

.support-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    img {
        &.support {
            width: 200px;
            height: auto;
            @media (max-width: index.$mobile-width) {
                display: none;
            }
        }

        &.mobileScreenshot {
            width: 240px;
            height: auto;
            margin: 15px 0;
            @media (min-width: calc(820px + 1px)) {
                display: none;
            }
        }

    }

    h5 {
        font-weight: 600;
        font-size: 24px;
    }

    h2.green {
        color: var(--sds--color--green--400);
        font-weight: 600;
        margin: 10px 0 15px 0;
    }

    p.info {
        margin-top: 10px;

        &.cursive {
            font-style: italic;
        }
    }

    .support {
        @include index.page;
    }


    .top {
        display: flex;
        gap: 25px;
        background-color: white;

        @media (max-width: index.$mobile-width) {
            flex-direction: column;
            align-items: center;
        }
    }

    .top-right {
        max-width: 460px;
        display: flex;
        flex-direction: column;

        @media (max-width: index.$mobile-width) {
            align-items: center;
            padding: 0 15px;
        }

        &.middle {
            margin-left: 50px;
            @media (max-width: index.$mobile-width) {
                margin-left: 0;
            }

        }

    }

    ul {
        list-style: inherit;

        li {
            margin-left: 16px;
        }
    }

    .card {
        background: white;
        border: 1px solid #EAECF0;
        border-radius: 10px;
        flex-direction: column;
        padding: 35px;
        margin: -130px auto 0 auto;
        display: flex;
        gap: 10px;
        max-width: 740px;

        &.bottom {
            margin-top: 35px;
        }

        &.row {
            flex-direction: row;
        }

        &.help {
            width: 100%;
        }
    }

}