@use "../index";

.terms-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    .terms {
        @include index.page;
        gap: 0;
        width: 740px;
        @media (max-width: index.$mobile-width) {
            width: auto;
        }
    }

    ul {
        list-style: initial;
        margin-top: 8px;

        &.indented {
            margin-left: 20px;
        }

        li {
            margin: 0 0 12px 16px;

        }
    }

}