html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 300;
    src: url("/fonts/proxima_nova/proximanovasoft-regular-webfont.woff2") format("woff2"),
    url("/fonts/proxima_nova/proximanovasoft-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 500;
    src: url("/fonts/proxima_nova/proximanovasoft-medium-webfont.woff2") format("woff2"),
    url("/fonts/proxima_nova/proximanovasoft-medium-webfont.woff") format("woff");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: 600;
    src: url("/fonts/proxima_nova/proximanovasoft-semibold-webfont.woff2") format("woff2"),
    url("/fonts/proxima_nova/proximanovasoft-semibold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 300;
    src: url("/fonts/source_sans_pro/sourcesanspro-regular-webfont.woff2") format("woff2"),
    url("/fonts/source_sans_pro/sourcesanspro-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Source Sans Pro";
    font-weight: 600;
    src: url("/fonts/source_sans_pro/sourcesanspro-semibold-webfont.woff2") format("woff2"),
    url("/fonts/source_sans_pro/sourcesanspro-semibold-webfont.woff") format("woff");
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    background-color: #0062b0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: #0077c8;
    text-decoration: none;
}

label, span {
    line-height: 18px;
}

p {
    line-height: 22px;
}

h1, h2, h3 {
    font-family: Proxima Nova, sans-serif;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

h2 {
    font-size: 26px;
    line-height: 30px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
}