html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
}

body:after {
    position: fixed;
    width: 109px;
    height: 28px;
    top: 15px;
    right: -25px;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    line-height: 30px;
    transform: rotate(45deg);
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: Nunito;
    src: url("/fonts/Nunito/Nunito-Regular.woff2") format("woff2"),
    url("/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Nunito;
    src: url("/fonts/Nunito/Nunito-SemiBold.woff2") format("woff2"),
    url("/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: Nunito;
    src: url("/fonts/Nunito/Nunito-Bold.woff2") format("woff2"),
    url("/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/Source_Sans_Pro/SourceSansPro-Regular.woff2") format("woff2"),
    url("/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff2") format("woff2"),
    url("/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: fallback
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url("/fonts/Source_Sans_Pro/SourceSansPro-Bold.woff2") format("woff2"),
    url("/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: fallback
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    background-color: #0062b0;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: #0077c8;
}

label, span {
    line-height: 18px;
}

p {
    line-height: 22px;
}

h1, h2, h3, h4 {
    font-family: Nunito, sans-serif;
}

h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

h2.green {
    margin: 30px 0;
    font-size: 32px;
    color: var(--color-primary-green);
}

h2.top {
    margin: 0 0 15px 0;
    word-break: break-word;
    font-size: 16px;
    font-weight: 600;
}

h2.top span {
    color: var(--color-primary-green);
    font-size: 16px;
    font-family: Nunito, sans-serif;
}

h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
}

div.info-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
