html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: normal;
    src: url("/fonts/proxima_nova/ProximaNovaSoft-Regular.otf");
}

@font-face {
    font-family: "Proxima Nova";
    font-weight: bold;
    src: url("/fonts/proxima_nova/ProximaNovaSoft-Semibold.otf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    src: url("/fonts/source_sans_pro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: url("/fonts/source_sans_pro/SourceSansPro-Semibold.ttf");
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    background-color: #5daff1;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a, a:visited {
    color: #0077c8;
    text-decoration: none;
}

label, span {
    line-height: 18px;
}

p {
    line-height: 22px;
}

h1, h2, h3 {
    font-family: Proxima Nova, sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
}

h2 {
    font-size: 32px;
    line-height: 34px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
}