@use "../index";

.header-container {

    padding-bottom: 20px;
    border-bottom: 1px solid #B2B6BE;

    .header-inner {
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-top: 15px;

        .logo {
            margin: 0 25px 0 15px;
        }

        .nav {
            @media (max-width: index.$tablet-width) {
                display: none;
            }
        }
        .desktop-navigation {
            @media (max-width: index.$tablet-width) {
                display: none;
            }
        }
        .mobile-navigation {
            margin: 0 25px 0 auto;

            @media (min-width: index.$tablet-width-cutoff) {
                display: none;
            }
        }
    }
}