@use "../index";

.desktop-navigation {
    display: flex;
    gap: 25px;
    width: 100%;

    .sds--language-switcher {
        margin-left: 44px;
    }

    &:not(.mobile) {
        .sds--language-switcher, a.terms, a.privacy {
            display: none;
        }
    }

    @media (max-width: index.$tablet-width) {
        flex-direction: column;
    }

    @media (min-width: index.$tablet-width-cutoff) {
        &.mobile {
            display: none;
        }
    }

    a {
        color: #5E6873;
        text-decoration: none;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;

        @media (max-width: index.$tablet-width) {
            color: black;
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
        }

        @media (max-width: index.$mobile-width-sm) {
           font-size: 28px;
           line-height: 40px;
        }

        &.active {
            font-weight: 600;
            color: black;
            border-bottom: 2px solid var(--sds--color--blue--400);

            
            @media (max-width: index.$tablet-width) {
                font-weight: 400;
                color: black;
                border-bottom: none;
            }
        }

    }

    .links {
        margin: 0 40px 0 auto;
        display: flex;
        gap: 15px;
        max-height: 0;

        @media (max-width: index.$tablet-width) {
            flex-direction: column;
            margin: 16px 0 0 0;
            gap: 50px;
            max-height: initial;
        }

        button.sds--btn {
            min-width: 180px;

            @media (max-width: index.$tablet-width) {
                max-width: 180px;
            }
        }
    }

}

