@use "./index";

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    > .router-container {
        flex-grow: 1;
        display: flex;
        > :first-child {
            flex-grow: 1;
        }
    }
}

.eduid .container h1 {
    color: var(--sds--color--blue--400);
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 58px;
    @media (max-width: index.$mobile-width) {
        &.small {
            font-size: 38px;
        }
    }

}

h5 {
    font-weight: 600;
    font-size: 24px;
}


.top {
    display: flex;
    gap: 20px;
    background-color: white;

    @media (max-width: index.$mobile-width) {
        flex-direction: column;
        align-items: center;
    }
}

.top-right {
    max-width: 418px;
    display: flex;
    flex-direction: column;

    @media (max-width: index.$mobile-width) {
        align-items: center;
        padding: 0 15px;
    }

    &.middle {
        margin-left: 30px;
        @media (max-width: index.$mobile-width) {
            margin-left: 0;
        }

    }

}

.card {
    background: white;
    border: 1px solid #EAECF0;
    border-radius: 10px;
    flex-direction: column;
    padding: 35px;
    margin: -130px auto 0 auto;
    display: flex;
    gap: 10px;
    max-width: 740px;

    &.bottom {
        margin-top: 35px;
    }

    &.row {
        flex-direction: row;
    }

    &.full {
        width: 100%;
    }

    @media (max-width: index.$mobile-width) {
        padding: 20px;
    }

}



