.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.eduid .container h1 {
    color: var(--sds--color--blue--400);
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 58px;
    @media (max-width: 820px) {
        &.small {
            font-size: 40px;
        }
    }

}

