@use "../styles/vars.scss" as *;

.tabs-container {
    width: 100%;
    background-color: $background;

    .tabs {
        max-width: $medium;
        margin: 0 auto;
        display: flex;
        gap: var(--sds--space--1);

        @media (max-width: $medium) {
            flex-direction: column;
            padding: 0;
        }


    }

}
