@use "../styles/vars"  as *;


.unit-header-container {
    width: 100%;
    background-color: $background;
    padding: 15px 0 25px 0;

    @media (max-width: $medium) {
        padding: 15px 15px 25px 15px;
    }


    .urn-container {
        display: flex;
        align-items: center;

        span {
            margin-right: 6px;
        }

        .copy-to-clipboard {
            margin-top: 6px;
        }
    }

    .unit-header {
        max-width: $medium;
        margin: 0 auto;
        width: 100%;
        display: flex;

        @media (max-width: $medium) {
            flex-direction: column;
        }


        .image {
            display: flex;
            align-items: center;
            margin-bottom: auto;
            background-color: var(--sds--color--white);
            padding: 10px;
            border-radius: 5px;
            border: 1px solid var(--sds--color--gray--300);

            svg {
                height: 76px;
                width: auto;
                margin-bottom: auto;
            }

            &.small {
                svg {
                    width: 28px;
                    height: auto;
                    color: var(--sds--color--green--300);
                    margin-top: 10px;
                }
            }

            @media (max-width: $medium) {
                display: none;
            }

        }

        .obj-name {
            margin-left: 26px;
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            word-break: break-word;

            span.description {
                margin: 20px 0;

                &.compact {
                    margin: 10px 0;
                }
            }
        }

    }

    .action-menu-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 25px;

        @media (max-width: $medium) {
            margin-top: 20px;
        }

        button {
            width: 100%;
            min-width: 150px;

            &.sds--btn--secondary {
                min-width: 180px;
            }
        }
    }

    .other-options, .sds--user-info--dropdown {
        background-color: $background;
    }

    .sds--menu-button .sds--user-info--dropdown {
        z-index: 99;
    }

}
