<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="access" level="DEBUG"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.mariadb.jdbc.message.server" level="ERROR"/>
    <logger name="com.zaxxer.hikari" level="ERROR"/>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>