<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework" level="WARN"/>
    <!--   Set to TRACE to log mongodb queries  -->
    <logger name="org.springframework.data.mongodb" level="WARN"/>

    <logger name="myconext" level="DEBUG"/>
    <logger name="tiqr.org" level="DEBUG"/>

</configuration>