encryptionSecret: "secret"
baseUrl: "http://localhost:8081"
identifier: "eduID local"
displayName: "eduID local"
version: "0.0.1"
logoUrl: "https://static.surfconext.nl/media/idp/eduid.png"
infoUrl: "https://eduid.nl/help"
pushNotificationsEnabled: true
eduIdAppBaseUrl: "https://eduid.nl"
rateLimitThreshold: 5
rateLimitResetMinutes: 30

apns:
  serverHost: "localhost"
  port: 8099
  # signingKey: "file:/opt/myconext-server/tiqr/token-auth-private-key.p8"
  signingKey: "classpath:/tiqr/token-auth-private-key.p8"
  # Leave empty for non-local development
  serverCertificateChain: "classpath:/tiqr/ca.pem"
  topic: "eduid.nl"
  teamId: "apple-team-id"
  keyId: "apple-key-id"

gcm:
  firebaseServiceAccount: "classpath:/tiqr/test-firebase-adminsdk.json"
  appName: "tiqr"
