name: Deploy

on:
  push:
    tags:
      - "*"

jobs:
  deployment:
    environment: deploy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
        server-id: openconext-releases
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Set up cache
      uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Deploy with Maven
      run: mvn --batch-mode deploy -DskipTests
      env:
        MAVEN_USERNAME: ${{ secrets.BUILD_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.BUILD_PASSWORD }}

    - name: Build Changelog
      id: changelog
      uses: ardalanamini/auto-changelog@v3

    - name: Create release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: false
        prerelease: true
        release_name: Release ${{ github.ref }}
        tag_name: ${{ github.ref }}
        body: |
          ${{ steps.changelog.outputs.changelog }}
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Check account-gui zip existence
      id: check_file_account_gui
      uses: andstor/file-existence-action@v1
      with:
        files: "$GITHUB_WORKSPACE/OpenConext-myconext/account-gui/target/account-gui-${{ github.ref_name }}.zip"
    - name: Upload account-gui zip to github release
      if: steps.check_file_account_gui.outputs.files_exists == 'true'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: $GITHUB_WORKSPACE/OpenConext-myconext/account-gui/target/account-gui-${{ github.ref_name }}.zip
        asset_name: account-gui-${{ github.ref_name }}.zip
        asset_content_type: application/zip

    - name: Check myconext-gui zip existence
      id: check_file_myconext_gui
      uses: andstor/file-existence-action@v1
      with:
        files: "$GITHUB_WORKSPACE/OpenConext-myconext/myconext-gui/target/myconext-gui-${{ github.ref_name }}.zip"
    - name: Upload myconext-gui zip to github release
      if: steps.check_file_myconext_gui.outputs.files_exists == 'true'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: $GITHUB_WORKSPACE/OpenConext-myconext/myconext-gui/target/myconext-gui-${{ github.ref_name }}.zip
        asset_name: myconext-gui-${{ github.ref_name }}.zip
        asset_content_type: application/zip

    - name: Check myconext-server jar existence
      id: check_file_myconext_server
      uses: andstor/file-existence-action@v1
      with:
        files: "$GITHUB_WORKSPACE/OpenConext-myconext/myconext-server/target/myconext-server-${{ github.ref_name }}.jar"
    - name: Upload myconext-server jar to github release
      if: steps.check_file_myconext_server.outputs.files_exists == 'true'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: $GITHUB_WORKSPACE/OpenConext-myconext/myconext-server/target/myconext-server-${{ github.ref_name }}.jar
        asset_name: myconext-server-${{ github.ref_name }}.jar
        asset_content_type: application/zip
